.container-sm{
    position: relative;
}
.container-sm img{
    width: 99vw;
    height: 48vh;
}
.mt-98{
    margin-top: 98px;
}
.heading-4{
    top: 20.5vh;
    left: 10vw;
    font-size: 30px;
    font-weight: 400;
    font-family: "Roboto Slab", Sans-serif;
    color: var(--bs-white);
}
.form-img{
    width: 30vw !important;
    height: 70vh !important;
    margin-left: 147px;
}
.form-cont{
    background: var(--bs-gray-200);
    height: 70vh;
    width: 60vw !important;
    margin-right: 130px !important;
    margin-left: -48px !important;
}
.form-cont h3{
    background: var(--bs-orange);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: var(--bs-white);
}
.form-name{
    border-radius: 20px;
    border: none;
}
.contact-wrapper{
    min-height: 70vh;
}

/* Main Form Box */
.contact-form{
    width: 500px;
    border-radius: 25px;
    overflow: hidden;
    background: var(--bs-gray-200);
}

/* Top Blue Bar */
.form-header{
    background: var(--bs-orange);
    text-align: center;
    color: var(--bs-white);
    padding: 15px;
    font-weight: 500;
}

/* Form body */
.form-body{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/* Inputs */
.form-body input,
.form-body textarea{
    border: none;
    border-radius: 25px;
    padding: 15px 20px;
    background: var(--bs-gray-100);
    font-size: 16px;
    outline: none;
}

/* Textarea */
.form-body textarea{
    resize: none;
}

/* Button */
.form-body button{
    border: none;
    padding: 15px;
    border-radius: 25px;
    background: var(--bs-orange);
    color: var(--bs-white);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.form-body button:hover{
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
